body{
    margin: 0;
    /*background-image:url('TU.jpg');
    background-attachment: fixed;
    background-size:cover;
    background-position: center;*/
    font-family: 'Noto Sans Thai', sans-serif;
    background-color: #ededed;
}


.menu-bar .menu #butt-register{
    color: #471f00;
    background-color:  #ededed;
}

.box{
    max-width: 900px;
    margin: auto;
    background-color: rgba(255, 252, 252, 0.9);
    padding: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 50px;
    transform: translateY(100%);
    transition: transform 0.6s ease-in-out; 
}

.box.show {
    transform: translateY(0); 
}


.input_info{
    width: 200px;
    height: 30px;
}
table{
    width: 100%;
}
th,tr{
    text-align: left;

}
select{
    width: 150px;
    height: 30px;
}
span{
    color: firebrick;
}

.sub{
    text-align: center;
}

.input_rea{
    width: 800px;
    height: 50px;
}

.head-text{
    text-align: center;
    margin: 20px;
}

.date{
    margin: 20px;
    font-size: 19px;
    font-weight: bold;
}

.history{
    margin: 20px;
}

.address{
    margin: 20px;
}

.add-subSubject{
    margin: 20px;
}

.butt{
    font-size: 20px;
    width: auto;
    height: 50px;
    background-color: dodgerblue;
    color: aliceblue;
    border-color:aliceblue ;
    border-radius: 10px;
    padding: 10px;
}

.butt:hover{
    cursor:pointer;
    background-color: rgba(13, 33, 79, 0.8);
}


.add-drop{
    border: 1px solid black;
    text-align: left;
    width: 100px;
    height: 30px;
}




.cancle{
    font-size: 17px;
    margin: 0;
    width: 80px;
    height: 40px;
    background-color: #de351f;
    color: #ffffff;
    border-radius: 5px;
    border: 0px
}

.cancle:hover{
    background-color: #ad1a04;
    cursor: pointer;
}

.num_subject{
  margin-top: 20px;  
    
}

.add-drop-buttom{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    margin-left: 10px;
    border: 0 ;
    background-color: #34d2eddb;
    font-size: 20px;
    color: #ffffff;
}

.add-drop-buttom:hover{
    background-color: #0e869bdb;
    cursor: pointer;
}



input{
    border-radius: 5px ;

    border: 1px solid #7e5f38;
}

input:focus{
    outline:  0;
    border: 2px solid #140086;
}

.success input{
    border: 2px solid #07b32f;
}

.error input{
    border: 2px solid #cc1d1d;
}

.success select{
    border: 2px solid #07b32f;
}

.error select{
    border: 2px solid #cc1d1d;
}



.tab{
    padding-left: 10px;
    background-color: #fff7d1;
}

.datebox{
    margin-left: 10px ;
    font-size: 15px;
    width: 150px;
    height: 30px;
    text-align: center;
}

.header{
    background-color:azure;
    display: flex;
    justify-content: space-between;
}

select {
    

    width: 200px;
    height: 35px;
    border-radius: 5px;
}

option {
    padding-right: 20px;

}

.error_table{
    color: #ad1a04;
    font-size: 14px;
}

.head-add{
    font-size: 16px;
    font-weight: bold;
    
}

.sub-div{
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-template-rows: auto auto;
    gap: 10px;
    padding: 20px;
    margin: auto auto 20px auto;
    border-radius: 10px;
    width: 670px;
    box-sizing: border-box;
}

#droptable .num_sub{
    color: rgb(122, 53, 0);
}

#addtable .num_sub{
    color: rgb(148, 127, 20);
}

#droptable .sub-div{
    background-color: rgba(255, 161, 89, 0.493);
}

#addtable .sub-div{
    background-color: rgba(213, 189, 68, 0.29);
}

.droptable{
    text-align: center;
    padding: 20px;
    margin: auto;
    margin-bottom: 20px;
    background-color: rgba(56, 111, 192, 0.25);
    border-radius: 10px;
}

.subjectCause{
    width: 100%;
    height: 70px;
    border: 0px;
}

.hr-sub {
     
    border-top: 1px dashed #545151; 
    width: 100%; 

}

.popup .content{
    position:absolute;
    top : 50%;
    height : 50%;
    transform: transform(-50%,-50%);
    background-color : rgb(255,255,255);
    width : 450px;
    height : 350px;
    z-index:2;
    text-align: center;
    border-radius : 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ;
}

  /*
    align-items: center;
    justify-content: center;

   */
/*
.popup{
    align-items: center;
    justify-content: center;
}

.popup .overlay{
    display:fixed;
    top: 0px;
    left: 0px;
    width:100vw;
    Height:100vh;
    background-color:rgba(207, 0, 0, 0.7);
}


.success-image{
    margin-top : 40px;
    width : 200px;
    height : 200px;
}*/