body{
    /*
    background-image:url('TU.jpg');
    background-attachment: fixed;
    background-size:cover;
    background-position: center;*/
    margin: 0;
    font-family: 'Noto Sans Thai', sans-serif;
    background-color: #ededed;
}

.menu-bar .menu #butt-result{
    color: #471f00;
    background-color:  #ededed;
}

td {
    white-space: normal; 
    word-break: break-word;
    padding : 5px 5px 5px 5px;

}

.box{
    max-width: 1200px;
    margin: auto;
    background-color: rgba(255, 252, 252, 0.9);
    padding: 50px;
    margin-top: 100px;
    border-radius: 50px;
    margin-bottom: 100px;
    transform: translateY(100%); 
    transition: transform 0.6s ease-in-out; 
}

.box.show {
    transform: translateY(0); 
}

.head-text{
    text-align: center;
    font-weight: bold;
    margin: 50px;
}

/*
.head-sub-text h3{
    text-decoration: underline;
}*/

.order-table{
    width: 100%;
    border-radius: .6rem;
    background-color: #C2C2C2;
}

thead{
    gap: 0px;
    padding: .8rem 1rem;
}

tbody{
    background-color: #F3F3F3;
    padding: .8rem auto;
}

tbody tr:nth-child(even){
    background-color: #DFDFDF;
}

th{
    padding: 20px 10px 20px 10px ;
}

table{
    border-collapse: collapse;
}

.date-con{
    width: 13%;
}

.scode-con{
    width: 10%;
}

.sname-con{
    width: 20.5%;
}


.sec-con{
    width: 9%;
}

.credit-con{
    width: 9%;
}

.teacher-con{
    width: 20.5%;
}

.status-con{
    width: 9%;
}

.center-text{
    text-align: center;
}


.right-textt{
    text-align: left;
}

.empty-message{
    text-align: center;
}

.empty-message .empty-message-text{
    color: rgb(164, 164, 164);
    margin: 0;
}

.result-table{
    margin: 20px 10px 20px 10px;
}

.check-success{
    font-weight: bold;
    color:green;
}

.check-unsuccess{
    font-weight: bold;
    color:red;
}

a{
    text-decoration: none;
    color: black
}

a:hover{
    text-decoration: none;
    color: rgb(144, 108, 23)
}

