body{
    /*
    background-image:url('TU.jpg');
    background-attachment: fixed;
    background-size:cover;
    background-position: center;*/
    margin: 0;
    font-family: 'Noto Sans Thai', sans-serif;
    background-color: #ededed;
}

.menu-bar .menu #butt-result{
    color: #471f00;
    background-color:  #ededed;
}

td {
    white-space: normal; 
    word-break: break-word;
    padding : 5px 5px 5px 5px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(148, 148, 148);
}

.box{
    max-width: 1200px;
    margin: auto;
    background-color: rgba(255, 252, 252, 0.9);
    padding: 50px;
    margin-top: 100px;
    border-radius: 50px;
    margin-bottom: 100px;
}

.head-text{
    text-align: center;
    font-weight: bold;
    margin: 50px;
}

.head-sub-text h3{
    text-decoration: underline;
}

.order-table{
    width: 100%
}

thead{
    background-color: rgb(150, 217, 213);
    gap: 0px;
}

th{
    border: 1px solid rgb(148, 148, 148);
    padding: 10px;
}

table{
    border-collapse: collapse;
}

.date-con{
    width: 15%;
}

.scode-con{
    width: 10%;
}

.sname-con{
    width: 22.5%;
}


.sec-con{
    width: 10%;
}

.credit-con{
    width: 10%;
}

.teacher-con{
    width: 22.5%;
}

.status-con{
    width: 10%;
}

.center-text{
    text-align: center;
}


.right-textt{
    text-align: left;
}

.empty-message{
    text-align: center;
}

.empty-message .empty-message-text{
    color: rgb(164, 164, 164);
    margin: 0;
}

.result-table{
    margin: 20px 10px 20px 10px;
}





