<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home_style.css">
    <link rel="stylesheet" href="/css/bar.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@300&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.15.10/dist/sweetalert2.all.min.js"></script>
    <script src = "/script/bar_script.js" defer></script>
    <title>หน้าหลัก</title>
</head>
<body>
    <div class="bar">
        <div class="container">
            <div class="logobox">
                <img src="./picture/logo_sci.png" class="logo">
                <h2>คณะวิทยาศาสตร์และเทคโนโลยี มหาวิทยาลัยธรรมศาสตร์</h2>
            </div>
            <div class="menu-bar">
                <div class="menu">
                    <button id="butt-home" class="butt-menu">หน้าหลัก</button>
                    <button id="butt-register" class="butt-menu" >ลงทะเบียนเพิ่ม-ถอน</button>
                    <button id="butt-result" class="butt-menu" >ผลการลงทะเบียน</button>
                </div>
                <div class="user">
                    <div class="name-text">
                        <h4 id="user-name"></h4>
                    </div>
                    <div class="pf-pic">
                        <img src="/picture/user.png" class="user-pic" id="profile-bar">
                    </div>
                    <div class="logout-butt">
                        <form action="/logout" method="post">
                            <button id="butt-logout" class="butt-menu">ออกจากระบบ</button>
                        </form>
                     </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="head-text">
            <h1>ยินดีต้อนรับเข้าสู่ระบบเพิ่ม-ถอนรายวิชา</h1>
            <h2>คณะวิทยาศาสตร์และเทคโนโลยี มหาวิทยาลัยธรรมศาสตร์ ศูนย์รังสิต</h2>
        </div>
    </div>
</body>
</html>

