<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"  href="/css/request_id_style.css">
    <link rel="stylesheet"  href="/css/bar.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@300&display=swap" rel="stylesheet">
    <script src = "/script/request_id_script.js" defer></script>
    <script src = "/script/bar_script.js" defer></script>
    <title>ผลการลงทะเบียนเพิ่ม-ถอน</title>
</head>
<body>
    <div class="bar">
        <div class="container">
            <div class="logobox">
                <img src="/picture/logo_sci.png" class="logo">
                <h2>คณะวิทยาศาสตร์และเทคโนโลยี มหาวิทยาลัยธรรมศาสตร์</h2>
            </div>
            <div class="menu-bar">
                <div class="menu">
                    <button id="butt-home" class="butt-menu" >หน้าหลัก</button>
                    <button id="butt-register" class="butt-menu" >ลงทะเบียนเพิ่ม-ถอน</button>
                    <button id="butt-result" class="butt-menu">ผลการลงทะเบียน</button>
                </div>
                <div class="user">
                    <div class="name-text">
                        <h4 id="user-name"></h4>
                    </div>
                    <div class="pf-pic">
                        <img src="/picture/user.png" class="user-pic" id="profile-bar">
                    </div>
                    <div class="logout-butt">
                        <form action="/logout" method="post">
                            <button id="butt-logout" class="butt-menu">ออกจากระบบ</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box">
        <div id="request-descrip">

        </div>
    </div>
</body>
</html>